<a href="https://colab.research.google.com/github/VadlamudiVarshitaa/Daily-Weather-Data/blob/main/Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/weather-data.csv")

In [ ]:
display(df)

,Date/Time,Temperature (in Degree Celsius),Dew Point Temperature (in Degree Celsius),Relative Humidity (in %),Wind Speed (in km/h),Visibility (in km),Pressure (in kilopascal),Weather Description
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [ ]:
display(df["Temperature (in Degree Celsius)"])

0      -1.8
1      -1.8
2      -1.8
3      -1.5
4      -1.5
       ...
8779    0.1
8780    0.2
8781   -0.5
8782   -0.2
8783    0.0
Name: Temperature (in Degree Celsius), Length: 8784, dtype: float64

In [ ]:
temperature_arr = df["Temperature (in Degree Celsius)"].to_numpy()

In [ ]:
temperature_mean = np.mean(temperature_arr)

In [ ]:
print(temperature_mean)

8.798144353369764

In [ ]:
display(df["Dew Point Temperature (in Degree Celsius)"])

0      -3.9
1      -3.7
2      -3.4
3      -3.2
4      -3.3
       ...
8779   -2.7
8780   -2.4
8781   -1.5
8782   -1.8
8783   -2.1
Name: Dew Point Temperature (in Degree Celsius), Length: 8784, dtype: float64

In [ ]:
dew_point_temperature_arr = df["Dew Point Temperature (in Degree Celsius)"].to_numpy()

In [ ]:
dew_point_temperature_mean = np.mean(dew_point_temperature_arr)

In [ ]:
print(dew_point_temperature_mean)

2.5552937158469944

In [ ]:
display(df["Relative Humidity (in %)"])

0       86
1       87
2       89
3       88
4       88
        ..
8779    81
8780    83
8781    93
8782    89
8783    86
Name: Relative Humidity (in %), Length: 8784, dtype: int64

In [ ]:
relative_humidity_arr = df["Relative Humidity (in %)"].to_numpy()

In [ ]:
relative_humidity_mean = np.mean(relative_humidity_arr)

In [ ]:
print(relative_humidity_mean)

67.43169398907104

In [ ]:
display(df["Wind Speed (in km/h)"])

0        4
1        4
2        7
3        6
4        7
        ..
8779    30
8780    24
8781    28
8782    28
8783    30
Name: Wind Speed (in km/h), Length: 8784, dtype: int64

In [ ]:
wind_speed_arr = df["Wind Speed (in km/h)"].to_numpy()

In [ ]:
wind_speed_mean = np.mean(wind_speed_arr)

In [ ]:
print(wind_speed_mean)

14.94546903460838

In [ ]:
display(df["Visibility (in km)"])

0        8.0
1        8.0
2        4.0
3        4.0
4        4.8
        ...
8779     9.7
8780     9.7
8781     4.8
8782     9.7
8783    11.3
Name: Visibility (in km), Length: 8784, dtype: float64

In [ ]:
visibility_arr = df["Visibility (in km)"].to_numpy();

In [ ]:
print(visibility_arr)

[ 8.   8.   4.  ...  4.8  9.7 11.3]

In [ ]:
visibility_mean = np.mean(visibility_arr)

In [ ]:
print(visibility_mean)

27.664446721311478

In [ ]:
display(df["Pressure (in kilopascal)"])

0       101.24
1       101.24
2       101.26
3       101.27
4       101.23
         ...
8779    100.13
8780    100.03
8781     99.95
8782     99.91
8783     99.89
Name: Pressure (in kilopascal), Length: 8784, dtype: float64

In [ ]:
pressure_arr = df["Pressure (in kilopascal)"].to_numpy()

In [ ]:
pressure_mean = np.mean(pressure_arr)

In [ ]:
print(pressure_mean)

101.05162340619307

In [ ]:
null_count = df.isnull().sum().sum()

In [ ]:
print("There are", null_count, "null values in the dataframe.")

There are 0 null values in the dataframe.

In [ ]:
null_rows_count = df.isnull().any(axis=1).sum()

In [ ]:
print("There are", null_rows_count, "rows that contain at least one null value.")

There are 0 rows that contain at least one null value.

In [ ]:
null_columns_count = df.isnull().any(axis=0).sum()

In [ ]:
print("There are", null_columns_count, "columns that contain at least one null value.")

There are 0 columns that contain at least one null value.

In [ ]:
snow_rows = df[df["Weather Description"] == 'Snow']

In [ ]:
display(snow_rows)

,Date/Time,Temperature (in Degree Celsius),Dew Point Temperature (in Degree Celsius),Relative Humidity (in %),Wind Speed (in km/h),Visibility (in km),Pressure (in kilopascal),Weather Description
55,1/3/2012 7:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,1/4/2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,1/4/2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,1/4/2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
88,1/4/2012 16:00,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [ ]:
print("The number of rows where the weather is 'Snow':", len(snow_rows))

The number of rows where the weather is 'Snow': 390

In [ ]:
snow_rows_less_than_negative_10_temperature = df[(df["Weather Description"] == "Snow") & (df["Temperature (in Degree Celsius)"] < -10)]

In [ ]:
display(snow_rows_less_than_negative_10_temperature)

,Date/Time,Temperature (in Degree Celsius),Dew Point Temperature (in Degree Celsius),Relative Humidity (in %),Wind Speed (in km/h),Visibility (in km),Pressure (in kilopascal),Weather Description
55,1/3/2012 7:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,1/4/2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,1/4/2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,1/4/2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
123,1/6/2012 3:00,-10.6,-16.0,64,0,9.7,100.76,Snow
124,1/6/2012 4:00,-11.3,-16.1,68,15,3.2,100.70,Snow
125,1/6/2012 5:00,-11.8,-16.0,71,19,2.8,100.61,Snow
126,1/6/2012 6:00,-12.0,-16.2,71,22,4.8,100.58,Snow
127,1/6/2012 7:00,-14.4,-16.3,85,22,2.4,100.52,Snow
128,1/6/2012 8:00,-12.3,-16.2,73,24,11.3,100.51,Snow
129,1/6/2012 9:00,-12.5,-16.7,71,26,19.3,100.53,Snow
130,1/6/2012 10:00,-12.3,-16.3,72,28,16.1,100.47,Snow
131,1/6/2012 11:00,-12.0,-16.0,72,17,24.1,100.36,Snow
132,1/6/2012 12:00,-11.7,-15.4,74,28,19.3,100.23,Snow
133,1/6/2012 13:00,-11.9,-15.6,74,20,24.1,100.13,Snow
134,1/6/2012 14:00,-11.2,-14.8,75,19,19.3,100.07,Snow
135,1/6/2012 15:00,-11.5,-14.4,79,19,12.9,100.06,Snow
136,1/6/2012 16:00,-11.6,-14.7,78,19,19.3,100.10,Snow
137,1/6/2012 17:00,-11.2,-14.3,78,17,25.0,100.15,Snow
316,1/14/2012 4:00,-13.4,-18.9,63,20,16.1,100.26,Snow
489,1/21/2012 9:00,-15.9,-21.0,65,13,24.1,102.11,Snow
490,1/21/2012 10:00,-16.3,-21.4,65,17,24.1,102.12,Snow
491,1/21/2012 11:00,-15.9,-21.2,64,19,24.1,102.09,Snow
729,1/31/2012 9:00,-10.1,-14.4,71,17,24.1,101.59,Snow
988,2/11/2012 4:00,-10.8,-13.4,81,22,16.1,100.98,Snow
989,2/11/2012 5:00,-11.5,-14.4,79,20,16.1,100.99,Snow
990,2/11/2012 6:00,-12.2,-14.8,81,24,9.7,101.00,Snow
991,2/11/2012 7:00,-13.0,-15.7,80,20,12.9,100.96,Snow
992,2/11/2012 8:00,-13.7,-17.1,75,20,16.1,101.01,Snow
994,2/11/2012 10:00,-13.4,-18.8,64,19,24.1,101.05,Snow
995,2/11/2012 11:00,-13.1,-18.8,62,11,24.1,101.03,Snow
996,2/11/2012 12:00,-12.8,-17.2,70,9,19.3,100.97,Snow
1013,2/12/2012 5:00,-16.4,-22.8,58,11,25.0,100.59,Snow
1014,2/12/2012 6:00,-16.7,-23.3,57,15,25.0,100.60,Snow
1015,2/12/2012 7:00,-16.7,-23.5,56,19,24.1,100.64,Snow
1017,2/12/2012 9:00,-16.7,-24.6,50,17,24.1,100.72,Snow

In [ ]:
print("Number of rows having less than 10 degree celsius temperature and weather description as 'Snow' is:", len(snow_rows_less_than_negative_10_temperature))

Number of rows having less than 10 degree celsius temperature and weather description as 'Snow' is: 36

In [ ]:
display(df["Temperature (in Degree Celsius)"])

0      -1.8
1      -1.8
2      -1.8
3      -1.5
4      -1.5
       ...
8779    0.1
8780    0.2
8781   -0.5
8782   -0.2
8783    0.0
Name: Temperature (in Degree Celsius), Length: 8784, dtype: float64

In [ ]:
print("Minimum temperature:", df["Temperature (in Degree Celsius)"].min())

Minimum temperature: -23.3

In [ ]:
print("Maximum temperature:", df["Temperature (in Degree Celsius)"].max())

Maximum temperature: 33.0

In [ ]:
variance_relative_humidity = df["Relative Humidity (in %)"].var()

In [ ]:
print(variance_relative_humidity)

286.24855019850196

In [ ]:
standard_deviation_pressure = df["Pressure (in kilopascal)"].var()

In [ ]:
print(standard_deviation_pressure)

0.7123440111838423

In [ ]:
dangerous_wind_speed = df[df["Wind Speed (in km/h)"] > 70]

In [ ]:
display(dangerous_wind_speed)

,Date/Time,Temperature (in Degree Celsius),Dew Point Temperature (in Degree Celsius),Relative Humidity (in %),Wind Speed (in km/h),Visibility (in km),Pressure (in kilopascal),Weather Description
409,1/18/2012 1:00,3.7,-2.1,66,83,25.0,98.36,Mostly Cloudy

In [ ]:
print("Number of records in which wind speed is greater than 70 km/h:", len(dangerous_wind_speed))

Number of records in which wind speed is greater than 70 km/h: 1